<!DOCTYPE html>
<html lang="en">
<head>
  <title>TASK APP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<h2> TASK APP</h2>
<a class="btn btn-default" href="/logout" style="float: right;" role="button">logout </a>
<h4>Welcome {{ name }}, Click here to add details</h4>
<a class="btn btn-default" href="/add_question" style="float:"; role="button"> Add details </a>
<a class="btn btn-default" href="/view_profile" style="float:"; role="button"> View Profile </a>


   
</body>
</html>